.symptoms{
    padding: 89px 27px;
    width: 100%;
    position: relative;
    &__heading{
        @include font($plain-text-size-2,700,21px,$additional-text-color-1);
    }
    &__heading-addings{
        @include font($plain-text-size-3,500,16px,$additional-text-color-2);
    }
    &__carousel{
        @extend %flex;
        justify-content: center;
        margin: 272px 0;

    }
    &__carousel-wrapper{
            width: 316px;
            height: 316px;
            position: relative;
    }
    &__img{
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
    &__filter{
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.9%, $base-color 85.42%);
        opacity: 40%;
        background-color: $base-color;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    &__type{
        @include font($heading-text-size-h3,700,35px,$additional-text-color-2);
        position: absolute;
        z-index: 2;
        top:235px;
        left:85px;
    }
    &__description{
        position: absolute;
        top: -140px;
        left: 108px;
        transform-origin: 50px 301px;
    }
    &__wrapper{
        position: relative;
    }
    &__button{
        width: 100px;
        height: 100px;
    }
    &__text{
        width: 235px;
        @include font($plain-text-size-2,700,22px);
        position:absolute;
        &--right{
            top: 20%;
            left: 135px;
        }
        &--left{
            top: 40%;
            left: -270px;
            text-align: right;
        }
        &--top{
            top: -43px;
            left: 25px;
        }
        &--bottom{
            top: 125px;
            left: -60px;
            text-align: center;
        }
    }
    &__plus{
        position: absolute;
        top: -32px;
        left: -32px;
    }
}