$main-bg-color:#F4FBFC;
$base-color:#FFFFFF;
$page-bg-color-1:#E0F7FC;
$page-bg-color-2:#CAF2FA;
$primary-text-color:#223867;
$secondary-text-color:#028CA6;
$additional-text-color-1:#2A477D;
$additional-text-color-2:#068CA6;
$additional-text-color-2-transparent:#068CA64f;
$heading-text-size-h1:40px;
$heading-text-size-h2:36px;
$heading-text-size-h3:30px;
$plain-text-size-1:21px;
$plain-text-size-2:18px;
$plain-text-size-3:14px;
