@import "./additional/vars";
@import "./additional/mixins";
@import 'scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&family=Noto+Serif:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import "./additional/patient";
@import "./additional/symptoms";

html,
body {
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
#__next {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1264px) 1fr;
  background-color: $main-bg-color;
}

.page {
  grid-column: 2/3;
  @extend %flex;
  padding: 34px 18px;
  background-image: linear-gradient($base-color, $page-bg-color-1 58.33%, $page-bg-color-2);

  &__heading {
    @include font($heading-text-size-h1, 900, 50px);
  }
  &__description{
    @include font($heading-text-size-h2,700,54px);
    margin: 10px 0 0 0;
    text-align: center;
  }
  &__patients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .symptoms {
      &__description {
          position: absolute;
          top: -140px;
          left: 108px;

      }

      &__text {
          width: 100px;

          &--left {
              left: -135px;
          }

          &--bottom {
              left: -20px;
          }
      }
  }
}

@media (max-width: 1000px) {
  .symptoms {
      &__heading{
          text-align: center;
      }

      &__description {
          top: -120px;
          transform-origin: 50px 285px;
      }

      &__text {
          &--right {
              top: 30px;
              left: 110px;
          }

          &--left {
              top: 100px;
              left: -70px;
          }
      }
  }
}

@media (max-width: 900px) {
  .page {
      padding: 5px;
  }

  .patient {
              
      &__description {
          margin-bottom: 10px;
      }

      &__text {
          height: auto;
      }

  }

  .symptoms {
      padding: 10px;

      &__carousel {
          margin: 25px;
          &-wrapper{
              display: flex;
              height: auto;
              flex-direction: column;
          }
      }

      &__description {
          top:0;
          left: -80px;
          position: relative;
          transform-origin: center;
          margin: 25px;

      }
      &__text {
          &--top,&--bottom,&--left,&--right {
              left: 200px;
              text-align: left;
              top:0;
          }
      }
  }
}
@media (max-width: 700px) {
  .page {
      padding: 5px;
  }

  .patient {
      width: 345px;

  }

}